
.main-footer{ 
    color:black;
    background-color: rgb(163, 162, 162) ;
    padding: 3rem 1.5rem;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}
.button{ 
    background-color: black;
    color: white;
    border-radius: 30% ;
    
}
.row{ 
    display:flex;
    justify-content: center;
    padding-bottom: 15px;
}
.col{ 
    justify-content: space-between;
}
.container{ 
    display: flex;
    justify-content: center;
}
